@media (max-width: 480px) {

    .container-mb {
    max-width: 480px;
    padding: 0 1rem;
    margin: 0 auto;
}

    header .texts-menu .logo {
        padding: 0 0 0 1rem ;
    }

    header .texts-menu nav {
        display: none;
    }

    header .texts-menu #hamburguer {
        display: block;
        position: absolute;
        left: 48%;
    }

    header .texts-menu nav ul {
        position: fixed;
        top: 80px;
        left: 0;
        flex-direction: column;
        background-color: var(--bg-color-green);
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: space-around;
    }

    header .texts-menu nav ul li a {
        color: white;
    }

    .banner {
        flex-direction: column;
    }
    
    .banner .box-texts {
        width: 100%;
    }
    
    .banner .box-texts span {
        display: none;
    }
    
    .banner .box-texts h1 {
        padding-top: 120px;
        text-align: center;
    }
    
    .banner .box-texts p {
        text-align: center;
    }

    .banner .box-texts .sofa-img-mb {
        display: block;
        width: 100%;
    }

    .banner .box-texts .sofa-img-mb img {
        width: 100%;
    }

    .banner .box-texts .btn_cta {
        flex-direction: column;
        display: flex;
        gap: 15px;
        text-align: center;
    }

    .banner .box-texts .btn_cta {
        flex-direction: column;
        display: flex;
        gap: 15px;
        text-align: center;
    }

    .banner .box-texts .btn_cta .green, 
    .banner .box-texts .btn_cta .white {
        margin-right: 0px;
    }

    .banner .sofa-img {
        display: none;
    }
}