@media (max-width: 480px) {

    .container-mb {
        max-width: 480px;
        padding: 0 1rem;
        margin: 0 auto;
    }

    /*///////// Seção do Menu /////////*/

    header {
        background-color: var(--bg-color-blue);
    }

    header .texts-menu .logo {
        padding: 0 0 0 1rem;
        color: var(--bg-color-gold);
    }

    header .texts-menu nav {
        display: none;
    }

    header .texts-menu #hamburguer {
        display: block;
        position: absolute;
        right: 5%;
        color: var(--bg-color-gold);
    }

    header .texts-menu nav ul {
        position: fixed;
        top: 80px;
        left: 0;
        flex-direction: column;
        background-color: var(--bg-color-blue);
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: space-around;
    }

    header .texts-menu nav ul li a {
        color: white;
    }

    header .texts-menu a.btn_gr {
        display: none;
    }

    /*///////// Seção do Banner /////////*/


    .banner {
        flex-direction: column;
        height: auto;
        margin-bottom: 100px;
    }

    .banner .box-texts {
        width: 100%;
        margin-top: 100px;
    }

    .banner .box-texts h1 {
        text-align: left;
    }

    .banner .box-texts p {
        text-align: center;
    }

    .banner .box-texts .sofa-img-mb {
        display: none;
    }

    .banner .box-texts .sofa-img-mb img {
        width: 100%;
    }

    .banner .box-texts .btn_cta {
        flex-direction: column;
        display: flex;
        gap: 15px;
        text-align: center;
    }

    .banner .box-texts .btn_cta {
        flex-direction: column;
        display: flex;
        gap: 15px;
        text-align: center;
    }

    .banner .box-texts .btn_cta .green,
    .banner .box-texts .btn_cta .white {
        margin-right: 0px;
    }

    .banner .box-img {
        width: 100%;
        margin-top: 50px;
    }

    .banner .sofa-img {
        display: none;
    }

    .banner .sofa-img-mobile {
        width: 100%;
    }

    .banner .sofa-img-mobile img {
        width: 100%;
    }

    /*///////// Seção de Serviço /////////*/

    .servicos {
        text-align: left;
        background-color: var(--bg-color-blue);
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .servicos span {
        color: var(--bg-color-gold);
        text-transform: uppercase;
        font-weight: 600;
        font-size: clamp(0.938rem, 1vw + 0.5rem, 1.125rem);
        line-height: 1.6;
    }

    .servicos h2 {
        color: white;
        margin: 15px 0;
    }

    .servicos p {
        color: var(--bg-color-grey-hover);
    }

    .servicos .border {
        display: none;
    }

    .servicos .type-services {
        flex-direction: column;
    }

    .servicos .type-services .service-sofa {
        width: 100%;
        padding: 15px;
        text-align: left;
        min-height: 290px;
        justify-content: space-around;
        border: 1px solid #006b66;
        border-top: 4px solid #006b66;
        background-color: #223950;
    }

    .servicos .type-services .service-sofa h3 {
        color: white;
    }

    .servicos .type-services .service-sofa p {
        color: var(--bg-color-grey-hover);
    }

    .servicos .type-services .service-sofa svg {
        background-color: var(--bg-color-light-green);
        border-radius: 50%;
        padding: 12px 10px;
    }

    .servicos .type-services .service-sofa .sofa-img {
        display: none;
    }

    .servicos .type-services .service-sofa a {
        color: var(--bg-color-gold);
        font-weight: 600;
        text-decoration: none;
    }

    .servicos .type-services .service-another {
        width: 100%;
        margin-top: 20px;
        gap: 20px;
    }

    .servicos .type-services .service-another .serv-colchao {
        width: 100%;
        min-height: 290px;
        text-align: left;
        padding: 0px;
        border: 1px solid var(--bg-color-gold);
        border-top: 4px solid var(--bg-color-gold);
    }

    .servicos .type-services .service-another .serv-colchao .texto_col {
        width: 100%;
        height: 290px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        background-color: #223950;
        border-radius: 15px;
    }

    .servicos .type-services .service-another .serv-colchao .texto_col h3 {
        color: white;
    }

    .servicos .type-services .service-another .serv-colchao .texto_col p {
        color: var(--bg-color-grey-hover);
    }

    .servicos .type-services .service-another .serv-colchao .texto_col a {
        color: var(--bg-color-gold);
        font-weight: 600;
        text-decoration: none;
    }

    .servicos .type-services .service-another .serv-colchao .img-col {
        display: none;
    }

    .servicos .type-services .service-another .more-serv {
        width: 100%;
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .tapetes,
    .poltronas {
        width: 100%;
        min-height: 290px;
        border-radius: 10px;
        padding: 15px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        text-align: left;
        background-color: white;
    }

    /* |||||||||||||||||||||||||| seção responsável pelos Benefícios |||||||||||||||||||||||||| */

    .resultados {
        width: 100%;
        background-color: #f5f3ef;
        padding-bottom: 50px;
        padding-top: 50px;
    }









    

    /* |||||||||||||||||||||||||| seção responsável pelo CTA |||||||||||||||||||||||||| */

    .cta .cta_box {
        background-color: #DEEFEF;
        border-radius: 25px;
        display: block;
        text-align: center;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    .cta .cta_box .btn-cta {
        margin-top: 10px;
    }

    .cta .cta_box .btn-cta a {
        /* font-size: 24px; */
        color: white;
        text-decoration: none;
        background-color: var(--bg-color-green);
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 35px;
        font-size: clamp(0.938rem, 1vw + 0.5rem, 1.125rem);
    }


    /* seção footer */

    footer .box-info-footer {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        padding: 25px 0;
    }

    footer .box-info-footer .menu {
        display: none;
    }




}