/*-------------------- CONFIGURAÇÕES GERAIS --------------------*/

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color-light-grey: #F7F9FB;
    --bg-color-grey: #3e4947;
    --bg-color-grey-hover: #E6E8EA;
    --bg-color-green: #006a65;
    --bg-color-green-hover: #0f7c77;
    --bg-color-light-green: #9FF1EA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 0.75rem;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-transform: capitalize;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: var(--bg-color-light-grey);
}

/*-------------------- SEÇÃO DO MENU --------------------*/

header {
    width: 100%;
    height: 80px;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--bg-color-light-grey);
    position: fixed;
}

header .texts-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header span {
    color: var(--bg-color-green);
    font-size: 24px;
    font-weight: 500;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 15px;
}

header a {
    text-decoration: none;
    color: var(--bg-color-grey);
    font-weight: 600;
    transition-duration: 300ms;
}

header nav ul li a:hover {
    color: var(--bg-color-green);
}

header .btn_gr {
    color: white;
    background-color: var(--bg-color-green);
    padding: 5px 15px;
    border-radius: 15px;

}

header .btn_gr:hover {
    color: white;
    background-color: var(--bg-color-green-hover);
}

main {
    font-family: 'Inter', sans-serif;
}

/*-------------------- SEÇÃO DO BANNER --------------------*/

.banner {
    width: 100%;
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.banner .box-texts {
    width: 50%;
}

.banner .box-texts span {
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--bg-color-light-green);
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 25px;
}

.banner .box-texts h1 {
    padding: 30px 0;
}

.banner .box-texts p {
    font-size: 18px;
    color: var(--bg-color-grey);
    margin-bottom: 30px;
}

.banner .box-texts .btn_cta {
    font-size: 14px;
    font-weight: 600;
    padding: 30px 0 0 0;
}

.banner .box-texts .btn_cta .green {
    text-decoration: none;
    color: white;
    background-color: var(--bg-color-green);
    padding: 15px 35px;
    border-radius: 25px;
    margin-right: 15px;
    transition-duration: 300ms;
}

.banner .box-texts .btn_cta .green:hover {
    background-color: var(--bg-color-green-hover);
}

.banner .box-texts .btn_cta .white {
    text-decoration: none;
    color: var(--bg-color-grey);
    border: 1px solid var(--bg-color-grey);
    padding: 15px 35px;
    border-radius: 25px;
    margin-right: 15px;
    transition-duration: 300ms;
}

.banner .box-texts .btn_cta .white:hover {
    background-color: var(--bg-color-grey-hover);
}

.banner .box-img {
    width: 50%;
}

.banner .box-img .sofa-img {
    width: 100%;
}

.banner .box-img .sofa-img img {
    width: 100%;
}


/*-------------------- SEÇÃO DO SERVIÇOS --------------------*/

.servicos {
    width: 100%;
    height: 90vh;
}

.servicos h2 {
    padding-bottom: 0px;
}

.servicos .border {
    border-bottom-style: solid;
    width: 5rem;
    border-color: var(--bg-color-green);
    border-bottom-width: 4px;
    padding-top: 30px;
}

.servicos .type-services {
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin-top: 90px;
}

.servicos .type-services .service-sofa {
    width: 43%;
    height: 100%;
    border: solid 1px #dddddd69;
    background-color: white;
    border-radius: 10px;
    padding: 35px;
    transition-duration: 300ms;
}

.servicos .type-services .service-sofa:hover {
    border: solid 1px var(--bg-color-green);
}

.servicos .type-services .service-sofa svg {
    background-color: var(--bg-color-light-green);
    border-radius: 10px;
    padding: 10px;
}

.servicos .type-services .service-sofa p {
    color: var(--bg-color-grey);
}

.servicos .type-services .service-sofa .sofa-img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-image: url('img/green-couch.png');
    background-position: center;
    margin-top: 110px;
    filter: grayscale(100%);
    transition-duration: 300ms;
}

.servicos .type-services .service-sofa .sofa-img:hover {
    filter: grayscale(0%);
}

.servicos .type-services .service-another {
    width: 48%;
    height: 100%;

}

.servicos .type-services .service-another .serv-colchao {
    width: 100%;
    height: 49%;
    background-color: #F2F4F6;
    border-radius: 15px;
    border: solid 1px #dddddd69;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition-duration: 1000ms;
}

.servicos .type-services .service-another .serv-colchao:hover {
    box-shadow: 0px 10px 20px -10px var(--bg-color-grey);
}

.servicos .type-services .service-another .serv-colchao .texto_col {
    width: 50%;
}

.servicos .type-services .service-another .serv-colchao svg {
    padding: 10px;
}

.servicos .type-services .service-another .serv-colchao p {
    color: var(--bg-color-grey);
}

.servicos .type-services .service-another .serv-colchao .img-col {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('img/colchao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servicos .type-services .service-another .more-serv {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tapetes {
    background-color: #D7E6DC;
    width: 48%;
    height: 260px;
    border-radius: 10px;
    padding: 32px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.poltronas {
    background-color: #CDE5FF;
    width: 48%;
    height: 260px;
    border-radius: 10px;
    padding: 32px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

/*-------------------- SEÇÃO DO BENEFÍCIOS --------------------*/

.pontos-positivos {
    width: 100%;
    height: 100vh;
    background-color: #EBEEF0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.pontos-positivos p {
    color: var(--bg-color-grey);
}

.pontos-positivos .box-pontos {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 33, 33%;
}


/*-------------------- SEÇÃO DO CTA --------------------*/

.cta {
    width: 100%;
    height: 90vh;
    background-color: var(--bg-color-light-grey);
    display: flex;
    align-items: center;
}

.cta .cta_box {
    background-color: #DEEFEF;
    width: 100%;
    height: 200px;
    max-height: 200px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.cta .cta_box .text-cta h2 {
    color: var(--bg-color-green);
}

.cta .cta_box .text-cta p {
    color: #00534ecc;
    font-size: 18px;
}

.cta .cta_box .btn-cta a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: var(--bg-color-green);
    font-weight: 400;
    padding: 20px 25px;
    border-radius: 35px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #EBEEF0;
}

footer .box-info-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .box-info-footer a {
    text-decoration: none;
    color: var(--bg-color-grey);
    transition-duration: 300ms;
}

footer .box-info-footer a:hover {
    color: var(--bg-color-green-hover);
}

footer .box-info-footer .logo {
    font-size: 24px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

footer .container .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .menu ul li {
    list-style: none;
    padding-right: 10px;
}